/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
html {
  height: 100%;
  margin: 0;
  line-height: 1.25;
  box-sizing: border-box;
  background: #d1f9df;
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

.container, header nav {
  margin: 0 auto;
  width: 1000px; }

h1,
h2 {
  font-family: 'Permanent Marker', cursive; }

h3,
h4,
h5,
h6,
li,
p {
  font-family: 'Permanent Marker', cursive; }

a {
  text-decoration: none;
  color: inherit; }

.landing {
  width: 100%;
  height: 100%; }
  .landing .content {
    display: flex;
    justify-content: center;
    color: #000;
    max-height: 100vh;
    height: 100%;
    background: #86f7af; }
    .landing .content .picture {
      position: relative;
      height: 100%;
      width: 56%;
      background: url("https://f4.bcbits.com/img/0005578486_10.jpg");
      background-position: center;
      background-size: cover; }
      @media screen and (max-width: 800px) {
        .landing .content .picture {
          display: none; } }
    .landing .content .cta {
      position: relative;
      width: 44%;
      height: 100%;
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center; }
      @media screen and (max-width: 800px) {
        .landing .content .cta {
          margin: 0;
          width: 100%; } }
      .landing .content .cta .text {
        cursor: default; }
        .landing .content .cta .text h1 {
          font-size: 72px; }
        .landing .content .cta .text h2 {
          font-size: 24px; }

header {
  display: none;
  margin: 0 auto;
  background: #de003d;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  text-transform: uppercase; }
  header .nav-bar-items {
    display: flex;
    justify-content: space-around;
    color: #000; }
    header .nav-bar-items .nav-bar-item {
      transition: all 0.2s;
      text-decoration: none;
      padding: 15px;
      border-bottom: 3px solid #de003d; }
      header .nav-bar-items .nav-bar-item:hover {
        padding-bottom: 15px;
        border-bottom: 3px solid #000; }
      header .nav-bar-items .nav-bar-item:active {
        color: #000; }

.cta-title {
  margin: 5% 0 5px 0;
  font-size: 36px;
  color: #ab3f3a; }

.nav-items {
  display: flex;
  color: #ab3f3a; }
  .nav-items .nav-item {
    margin: 0 5px;
    transition: all 0.2s; }
    .nav-items .nav-item:hover {
      color: #f78a86; }

.nav-titles {
  margin: 5px 0 0 0;
  text-transform: uppercase;
  color: #ab3f3a; }
  .nav-titles li {
    display: none; }
  .nav-titles .active {
    display: inline-block; }
    @media screen and (max-width: 500px) {
      .nav-titles .active {
        display: none; } }

.bg {
  background: #86f7af;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.gallery {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .gallery h2 {
    font-size: 48px;
    display: inline-block;
    margin: 15px 0; }
  .gallery .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .gallery .content .picture {
      position: relative;
      width: 300px;
      height: 300px;
      background: linear-gradient(0deg, #86f7af 0%, #86f7af 35%, #d1f9df 100%); }
      .gallery .content .picture:hover img {
        opacity: 0.3; }
      .gallery .content .picture:hover .links {
        opacity: 1; }
      .gallery .content .picture img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
        backface-visibility: hidden;
        background: #000; }
      .gallery .content .picture .links {
        cursor: pointer;
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center; }
        .gallery .content .picture .links i {
          opacity: 1;
          margin: 0 10px;
          padding: 10px;
          background: #ab3f3a;
          border-radius: 50%;
          color: #fff;
          transition: all 0.2s; }
          .gallery .content .picture .links i:hover {
            transform: scale(1.1); }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }
  .modal.active {
    display: inline; }
  .modal .content {
    margin: 5% auto;
    /* 15% from the top and centered */
    max-width: 40%;
    /* Could be more or less, depending on screen size */ }
    .modal .content img {
      width: 100%;
      height: 100%; }

/* Modal Content/Box */

/*# sourceMappingURL=styles.css.map */
