body, html {
  height: 100%;
  margin: 0;
  line-height: 1.25;
  box-sizing: border-box;
  background:#D1F9DF;
}
* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

h1,h2 {
  font-family: 'Permanent Marker', cursive;
}

h3,h4,h5,h6,li,p{
  font-family: 'Permanent Marker', cursive;
}

a{
  text-decoration: none;
  color: inherit;
}

