body, html {
  height: 100%;
  margin: 0;
  line-height: 1.25;
  box-sizing: border-box;
  background: #ae3143;
}
* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

h1,h2 {
  font-family: 'Merriweather', serif;
}

h3,h4,h5,h6,li,p{
  font-family: 'Roboto', sans-serif
}

a{
  text-decoration: color;
  color: inherit;
}

